{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<marquee><h1 class="m1">Le nombre de projets/programmes en cours désagrégé par pôle ou démembrement</h1></marquee>
<br>
<br>
<br>
<br>
<table class="table table-dark" id="tb">
  <thead>
      <tr>
          <th scope="col">Noms des pôles</th>
          <th scope="col">Nombre de Projets en Cours</th>
      </tr>
  </thead>
  <tbody>
    {% for p, n in np | zip_lists(npec) %}
    <tr>
        <td class="rouge">{{ p }}</td>
        <td class="jaune">{{ n }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<br>
<br>
<canvas id="chart" width="100" height="25"></canvas>
<script>
const ctx = document.getElementById('chart').getContext('2d');
const labels = []; 
const data = []; 

{% for p, n in np | zip_lists(npec) %}
  labels.push("{{ p }}"); 
  data.push({{ n }}); 
{% endfor %}

const chart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: labels, 
    datasets: [{
      label: 'Nombre de projets en cours',
      data: data, 
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

{% endblock %}